@import "color.scss";

input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  display: inline-block;
  font-size: 24px;
}
input[type=checkbox] + label{
  display: flex;
  align-items:center;
}

input[type=checkbox] + label:before { 
	content: '\f0c8'; 
	font-family: 'Font Awesome 5 Free';
}
input[type=checkbox] + label:before { 
	letter-spacing: 10px;
	color: $color5; 
}

input[type=checkbox]:checked + label:before { 
	content: '\f14a';
	font-family: 'Font Awesome 5 Free';
}
input[type=checkbox]:checked + label:before { 
	letter-spacing: 10px;
	color: $color5; 
}