@import "color.scss";

section.scan{
    padding: 15px 0;
    h1{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        span{
            color: $color3;
            font-size: 24px;
            font-family: 'Patua One', cursive;
        }
    }
    .box-container{
        display: flex;
        justify-content:center;
        .box{
            position: relative;
            background: $color3;
            border-radius: 5px;
            overflow: hidden;
            .content{
                position: absolute;
                top: 15px;
                left: 15px;
                padding: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                background: $white;
            }
        }
    }
}

section.search{
    padding: 15px 0;
    p{
        font-weight: bold;
        text-align: center;
    }
    .box-search{
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 10px;
        border: 2px solid $color3;
        form{
            width: 100%;
            display: flex;
            justify-content:center;
            input{
                width: calc(100% - 35px);
                border: none;
                border-radius: 15px 0 0 15px;
                outline: none;
                padding: 3px 10px 3px 15px;
            }
            button{
                width: 35px;
                display: flex;
                justify-content:center;
                align-items:center;
                border:none;
                border-radius: 0 15px 15px 0;
                position: relative;
                background: transparent;
                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform:translateY(-50%);
                    width: 1px;
                    height: 70%;
                }
            }
        }
    }
    .btn-container{
        text-align: center;
        .btn-scan{
            outline: none;
            box-shadow: none;
            margin: 10px 0;
            color: $white;
            border-radius: 0;
            padding: 5px 15px;
            background: $color3;
            border-radius: 15px;
        }
    }
}