@import "color.scss";

section.invitation{
    padding: 15px 0;
    h1{
        font-size: 26px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: $color3;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform:translateX(-50%);
            height: 1px;
            width: 70%;
            background: $color3;
        }
    }
    h2{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
    h3{
        margin:0;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
    .form-group-custom{
        margin:0;
        display: block;
        position: relative;
        .form-control-custom{
            text-align: center;
            box-shadow: none;
            outline: none;
            border:none;
            height: auto;
            &.name-custom{
                background: transparent;
                font-size: 26px;
                color: $color3;
                padding: 0;
                margin-bottom: 10px;
                font-family: 'Patua One', cursive;
            }
            &.alias-custom{
                background: transparent;
                font-size: 18px;
                padding: 0;
                color: $black;
                font-family: 'Patua One', cursive;
            }
            &.note-custom{
                font-size: 18px;
                background: rgba($color3,.8);
                color: $white;
                padding: 5px 15px;
                margin-bottom: 10px; 
                font-family: 'Patua One', cursive;
                letter-spacing: 2px;
            }
        }
        &.custom-1{
            &:before{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform:translateX(-50%);
                height: 1px;
                width: 70%;
                background: $color3;
            }
        }
        &.custom-2{
            &:before{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform:translateX(-50%);
                height: 1px;
                width: 60%;
                background: $color3;
            }
        }
    }
    .info{
        padding: 25px 0;
        label{
            display: block;
            text-align: center;
            font-family: 'Patua One', cursive;
        }
        h1{
            font-size: 20px;
            background: $color3;
            color: $white;
            padding: 5px 15px;
            &:before{
                display: none;
            }
        }
    }
    .detail{
        label{
            display: block;
            text-align: center;
            font-family: 'Patua One', cursive;
        }
        .input-group{
            .btn-custom{
                padding: 6px 15px;
                outline: none;
                box-shadow: none;
            }
            .form-control-custom-group{
                text-align: center;
                background: rgba($color3,.8);
                color: $white;
                font-weight: bold;
                border:none;
                outline: none;
                box-shadow: none;
            }
        }
    }
    .gift{
        padding: 30px 0 15px;
        p{
            text-align: center;
            margin-bottom: 5px;
            font-family: 'Patua One', cursive;
        }
        .btn-container{
            text-align: center;
            .btn-scan{
                outline: none;
                box-shadow: none;
                margin: 10px 0;
                color: $white;
                border-radius: 0;
                padding: 5px 15px;
                background: $color3;
                border-radius: 15px;
            }
        }
    }
}