@import "color.scss";

section.container-lcd{
    height: 70%;
}

section.lcd{
    height: 30%;
    width: 100%;
    background: rgba($color1,.95);
    border-radius: 15px 15px 0 0;
    border: 2px solid $color2;
    padding: 15px 0;
    .counting-list{
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        .content{
            .form-group-custom{
                margin:0;
                display: block;
                position: relative;
                label{
                    text-align: center;
                    font-size: 13px;
                    line-height: 14px;
                    font-weight: bold;
                }
                .form-control-custom{
                    text-align: center;
                    box-shadow: none;
                    outline: none;
                    border:none;
                    height: auto;
                    font-size: 20px;
                    background: $color3;
                    color: $white;
                    padding: 5px 15px;
                    margin-bottom: 10px; 
                }
            }
        }
    }
    .list-data{
        overflow-y : auto;
        overflow-x : hidden;
        display: block;
        height: 100%;
        .content-list{
            padding: 0 10px;
            h1.title{
                font-family: 'Patua One', cursive;
                font-size: 13px;
                color: $color3;
                margin-bottom: 5px;
            }
            h2.alias{
                font-size: 11px;
                font-weight: bold;
                margin-bottom: 3px;
            }
        }
        p{
            margin-bottom: 0;
        }
    }
}

section.slide-guest{
    width: 100%;
    height: calc(100% - 163px);
    .container-fluid{
        height: 100%;
        ul.guest-carousel{
            list-style: none;
            padding: 10px 0;
            margin: 0;
            width: 100%;
            height: 100%;
            li.item{
                background: rgba($white,.8);
                border-radius: 10px;
                border: 2px solid $color2;
                height: 100%;
                .container-fluid{
                    .row{
                        height: 100%;
                    }
                }
                .cage-image{
                    img{
                        width: 100%;
                    }
                }
                .cage-description{
                    width: 100%;
                    h1{
                        font-size: 24px;
                        font-family: 'Patua One', cursive;
                    }
                    h2{
                        font-size: 16px;
                    }
                    h3{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    .info-card{
                        margin: 10px 0;
                        border: 1px solid $color3;
                        background: $color1;
                        .long-section{
                            border-left: 1px solid $color3;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items:center;
                        }
                        .content{
                            padding: 10px;
                            width: 100%;
                            label{
                                text-align: center;
                                font-weight: bold;
                                display: block;
                                font-size: 18px;
                            }
                            h1{
                                padding: 5px 0 5px;
                                text-align: center;
                            }
                            &.border-bottom-custom{
                                border-bottom: 1px solid $color3;
                            }
                        }
                    }
                }
            }
        }
        .owl-carousel{
            height: 100%;
            .owl-stage-outer{
                height: 100%;
                .owl-stage{
                    height: 100%;
                    .owl-item{
                        height: 100%;
                    }
                }
            }
        }
    }
}

#detailModal{
    .modal-dialog{
        .modal-header{
            border:none;
            .close{
                outline: none;
                box-shadow: none;
            }
        }
        .modal-body{
            h3{
                font-size: 13px;
                font-weight: bold;
                margin:0;
                text-align: center;
            }
            h1{
                font-weight: bold;
                font-size: 24px;
                color: $color3;
                text-align: center;
                margin: 10px 0 5px;
            }
            h2{
                font-size: 18px;
                text-align: center;
                margin:0;
                font-weight: bold;
            }
            .info-card{
                margin: 30px 0;
                border: 1px solid $color3;
                background: $color1;
                .long-section{
                    border-left: 1px solid $color3;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items:center;
                }
                .content{
                    padding: 10px;
                    width: 100%;
                    label{
                        text-align: center;
                        font-weight: bold;
                        display: block;
                        font-size: 18px;
                    }
                    h1{
                        padding: 30px 0 5px;
                    }
                    &.border-bottom-custom{
                        border-bottom: 1px solid $color3;
                    }
                }
            }
        }
    }
}