@import "color.scss";

section.container-lcd{
    height: 70%;
    padding-top: 15px;
}

section.lcd{
    height: 30%;
    width: 100%;
    background: rgba($color1,.95);
    border-radius: 15px 15px 0 0;
    border: 2px solid $color2;
    padding: 15px 0;
    .counting-list{
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        .content{
            .form-group-custom{
                margin:0;
                display: block;
                position: relative;
                label{
                    text-align: center;
                    font-size: 16px;
                    font-family: 'Patua One', cursive;
                }
                .form-control-custom{
                    text-align: center;
                    box-shadow: none;
                    outline: none;
                    border:none;
                    height: auto;
                    font-size: 20px;
                    background: rgba($color3,.8);
                    color: $white;
                    padding: 5px 15px;
                    margin-bottom: 10px; 
                }
            }
        }
    }
    h1.head{
        text-align: center;
        font-family: 'Patua One', cursive;
        font-size: 24px;
        margin-bottom: 0px;
    }
    .list-data{
        display: flex;
        align-items:center;
        height: calc(100% - 30px);
        .item{
            height: 100%;
            display: block;
            .content-image{
                img{
                    border-radius: 50%;
                    width: 150px;
                }
            }
            .content-list{
                padding: 0 10px;
                h1.title{
                    font-family: 'Patua One', cursive;
                    font-size: 24px;
                    color: $color3;
                    margin-bottom: 5px;
                }
                h2.alias{
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
        .owl-stage-outer{
            .owl-stage{
                display: flex;
                align-items: center;
            }
        }
    }
}

section.slide-guest{
    width: 100%;
    height: calc(100% - 163px);
    display: flex;
    align-items:center;
    .container-fluid{
        height: 100%;
        padding: 15px 0 30px;
        ul.guest-carousel{
            list-style: none;
            padding: 0 15px;
            margin: 0;
            width: 100%;
            height: 100%;
            li.item{
                background: rgba($white,.8);
                border-radius: 10px;
                border: 2px solid $color1;
                height: 100%;
                position: relative;
                overflow: hidden;
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
        .owl-carousel{
            height: 100%;
            .owl-stage-outer{
                height: 100%;
                .owl-stage{
                    height: 100%;
                    .owl-item{
                        height: 100%;
                    }
                }
            }
        }
    }
}

#detailModal{
    .modal-dialog{
        .modal-header{
            border:none;
            .close{
                outline: none;
                box-shadow: none;
            }
        }
        .modal-body{
            .info-guest{
                display: flex;
                justify-content: center;
                align-items:center;
                .content-image{
                    width: 25%;
                    margin-right: 15px;
                    img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .content-greeting{
                    h3{
                        font-size: 16px;
                        font-weight: bold;
                        margin:0;
                    }
                    h1{
                        font-size: 26px;
                        color: $color3;
                        margin: 5px 0;
                        font-family: 'Patua One', cursive;
                    }
                    h2{
                        font-size: 18px;
                        margin:0;
                        font-family: 'Patua One', cursive;
                    }
                }
            }
            .info-card{
                margin: 30px 0;
                border: 1px solid $color3;
                background: $color1;
                .long-section{
                    border-left: 1px solid $color3;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items:center;
                }
                .content{
                    padding: 10px;
                    width: 100%;
                    label{
                        text-align: center;
                        font-weight: bold;
                        display: block;
                        font-size: 18px;
                    }
                    h1{
                        padding: 20px 0 0;
                        font-family: 'Patua One', cursive;
                        font-size: 28px;
                        margin: 5px 0;
                        color: $color3;
                        text-align: center;
                    }
                    &.border-bottom-custom{
                        border-bottom: 1px solid $color3;
                    }
                }
            }
        }
    }
}