// bower:scss
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

@import "index.scss";
@import "invitation.scss";
@import "lcd.scss";
@import "rsvp.scss";

@import "nav.scss";
@import "color.scss";
@import "checkbox.scss";

@import "responsive.scss";
@import "responsive-index.scss";
@import "responsive-invitation.scss";
@import "responsive-lcd.scss";
@import "responsive-rsvp.scss";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lily+Script+One&family=Patua+One&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Lily Script One', cursive;
// font-family: 'Patua One', cursive;

body{
    cursor: context-menu;
    margin:0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    background: url(../../images/floral.jpg) repeat;
    .nicescroll-rails-vr .nicescroll-cursors {
        background: linear-gradient(to bottom, #f7c5bc 0%, #fee1db 100%);;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color1,.3);
        z-index: -1;
    }
    #canvas{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100vh;
        z-index: 1;
    }
    main{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-color: rgba($color1,.9);
        z-index: 2;
        // &:before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: $color1 url(../../images/bg-elegant.png) repeat;
        //     background-size: 500px 500px;
        //     opacity: .3;
        //     z-index: -1;
        // }
        &.custom-background{
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            &:before{
                display: none;
            }
        }
    }
    &.overflow-y-hidden{
        overflow: hidden !important;
    }
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: rgb(68, 156, 216);
    }
    &:visited{
        text-decoration: none;
        color: inherit; 
    }
    &:link{
        text-decoration: none;
        color: inherit; 
    }
    &:active{
        text-decoration: none;
        color: inherit; 
    }
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    .col-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        padding: 10px 15px;
        .logo{
            width: 70px;
            margin: 0 10px;
        }
    }
    .col-menu-mobile{
        padding: 10px 15px;
        .menu{
            width: 0;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            background: $color1;
            transition: width 1s;
            transition-delay: .5s;
            padding-top: 70px;
            // &:before{
            //     content: '';
            //     position: absolute;
            //     right: 100%;
            //     top: 0;
            //     background: rgba($white,.9);
            //     width: 0;
            //     height: 100%;
            //     transition: .5s;
            // }
            span.close-menu{
                position: absolute;
                right: 100%;
                top: 0;
                background: rgba($white,.9);
                width: 0;
                height: 100%;
                transition: .5s;
            }
            ul{
                visibility: hidden;
                transition: visibility .65s;
                list-style: none;
                display: block;
                padding: 0;
                margin: 0;
                li{
                    position: relative;
                    color: $color3;
                    font-weight: bold;
                    float: none;
                    text-align: left;
                    letter-spacing: 1px;
                    a{
                        display: block;
                        padding: 10px 40px 10px 55px;
                        position: relative;
                        i{
                            position: absolute;
                            top: 50%;
                            left: 25px;
                            transform:translateY(-50%);
                            color: $color5;
                        }
                    }
                    &.active{
                        color: $color6;
                        i{
                            color: $color6;
                        }
                        a{
                            &:before{
                                display: none;
                            }
                        }
                    }
                    ul{
                        position: static;
                        display: none;
                        li{
                            a{
                                padding: 10px 40px;
                                &:before{
                                    display: none;
                                }
                            }
                            &.child{
                                &:before{
                                    display: none;
                                }
                            }
                            &:hover{
                                color: $color5;
                                a{
                                    &:before{
                                        display: none;
                                    }
                                }
                            }
                        }
                        &.active{
                            display: block !important;
                            height: 100%;
                        }
                        ul{
                            position: static;
                            display: none;
                            li{
                                a{
                                    padding: 10px 40px;
                                    &:before{
                                        display: none;
                                    }
                                }
                            }
                            &.active{
                                display: block !important;
                                height: 100%;
                            }
                        }
                    }
                    &:hover{
                        color: $color5;
                        a{
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &.active-head{
        .col-menu{
            .logo{
                z-index: 3;
                position: relative;
            }
        }
        .col-menu-mobile{
            .menu{
                width: 130%;
                transition: width .5s;
                // &:before{
                //     width: 55%;
                //     transition: width 1s;
                //     transition-delay : .5s;
                // }
                span.close-menu{
                    width: 55%;
                    transition: width 1s;
                    transition-delay : .5s;
                }
                ul{
                    visibility: visible;
                    transition: visibility 1s;
                    height: calc(100vh - 80px);
                    overflow-y: auto;
                    li{
                        &.child{
                            &:before{
                                content: '\f067';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: bold;
                                position: absolute;
                                top: 10px;
                                right: 30px;
                                color: $color5;
                            }
                            ul{
                                display: none;
                            }
                            &.changed{
                                &:before{
                                    content: '\f068';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: bold;
                                    position: absolute;
                                    top: 10px;
                                    right: 30px;
                                    color: $color5;
                                }
                                ul{
                                    height: 100%;
                                }
                            }
                        }
                        ul{
                            li{
                                &.child2{
                                    &:before{
                                        content: '\f067';
                                        font-family: 'Font Awesome 5 Free';
                                        font-weight: bold;
                                        position: absolute;
                                        top: 10px;
                                        right: 30px;
                                        color: $color5;
                                    }
                                    &.changed{
                                        &:before{
                                            content: '\f068';
                                            font-family: 'Font Awesome 5 Free';
                                            font-weight: bold;
                                            position: absolute;
                                            top: 10px;
                                            right: 30px;
                                            color: $color5;
                                        }
                                    }
                                    ul{
                                        &.active-child{
                                            li{
                                                display: block;
                                                a{
                                                    padding:  10px 30px 10px 60px;
                                                    width:100%;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cage-nav{
                .navTrigger{
                    i{
                        background-color: $color5;
                    }
                }
            }
        }
    }
    .logo-center{
        text-align: center;
        a{
            padding: 15px;
            img{
                height: 50px;
            }
        }
    }
}
footer{
    margin: 20px 0 10px;
    .container{
        display: flex;
        justify-content:center;
        a{
            padding: 5px 10px;
            display: block;
            img{
                display: block;
                width: 70px;
            }
        }
    }
}
section.fixed-content{
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction:column;
}
section.swipe-container{
    background: rgba($color1,.95);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    transform:translateX(-50%);
    width: 100%;
    height: 60%;
    border: 2px solid $color3;
    transition: .5s ease all;
    .swipe-trigger{
        width: 100%;
        height: 15px;
        border-radius: 5px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 7px;
            left: 50%;
            transform:translateX(-50%);
            background: rgba($color3,.7);
            width: 30%;
            height: 3px;
        }
    }
    .swipe-close{
        height: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .swipe-content{
        height: 100%;
        overflow-y: auto;
    }
    &.active{
        top: 40%;
        transition: .5s ease all;
        .swipe-close{
            height: 70%;
            top: -70%;
        }
    }
}
section.swipe-container-multiple{
    position: absolute;
    top: calc(100% - 44px);
    left: 0;
    width: 100%;
    height: 60%;
    transition: .5s ease all;
    .swipe-trigger{
        background: rgba($color1,.95);
        border-radius: 15px 15px 0 0;
        border: 2px solid $color2;
        border-bottom: 0;
        width: 100%;
        position: relative;
        text-align: center;
        font-size: 16px;
        padding: 10px 0 8px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color3;
        &:before{
            content: '';
            position: absolute;
            top: 7px;
            left: 50%;
            transform:translateX(-50%);
            background: rgba($color2,.7);
            width: 30%;
            height: 3px;
        }
    }
    .swipe-content{
        height: 100%;
        overflow-y: auto;
        background: rgba($color1,.95);
        border: 2px solid $color2;
        border-top: none;
    }
    &.active{
        top: 40%;
        transition: .5s ease all;
        .swipe-close{
            height: 70%;
            top: -70%;
        }
    }
}
section.info{
    padding: 15px 0;
    h1{
        font-size: 23px;
        font-weight: bold;
        font-family: 'Lily Script One', cursive;
        text-align: center;
        color: $color3;
    }
    h2{
        font-weight: bold;
        font-size: 14px;
        margin: 0;
        text-align: center;
    }
    h3{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
        text-align: center;
        color: $color3;
    }
}