
// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.invitation{
				.container{
					h3{
						font-size: 12px;
					}
					.form-group-custom{
						.form-control-custom{
							&.name-custom{
								font-size: 18px;
							}
							&.alias-custom{
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			section.invitation{
				.container{
					h3{
						font-size: 14px;
					}
					.form-group-custom{
						.form-control-custom{
							&.name-custom{
								font-size: 20px;
							}
							&.alias-custom{
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{

		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			section.invitation{
				.container{
					max-width: 720px;
					h3{
						font-size: 18px;
					}
					.form-group-custom{
						.form-control-custom{
							&.name-custom{
								font-size: 32px;
							}
							&.alias-custom{
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			section.invitation{
				.container{
					max-width: 720px;
					h3{
						font-size: 18px;
					}
					.form-group-custom{
						.form-control-custom{
							&.name-custom{
								font-size: 32px;
							}
							&.alias-custom{
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{
			section.invitation{
				.container{
					max-width: 720px;
					h3{
						font-size: 18px;
					}
					.form-group-custom{
						.form-control-custom{
							&.name-custom{
								font-size: 32px;
							}
							&.alias-custom{
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}