
// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{

		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			section.rsvp{
				h1{
					font-size: 28px;
				}
				h2{
					font-size: 20px;
				}
				h3{
					font-size: 24px;
				}
				h4{
					font-size: 20px;
				}
				.mid-info{
					p{
						font-size: 18px;
					}
					.name{
						h1{
							font-size: 52px;
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			section.rsvp{
				h1{
					font-size: 28px;
				}
				h2{
					font-size: 20px;
				}
				h3{
					font-size: 24px;
				}
				h4{
					font-size: 20px;
				}
				.mid-info{
					p{
						font-size: 18px;
					}
					.name{
						h1{
							font-size: 52px;
						}
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{
			section.rsvp{
				h1{
					font-size: 28px;
				}
				h2{
					font-size: 20px;
				}
				h3{
					font-size: 24px;
				}
				h4{
					font-size: 20px;
				}
				.mid-info{
					p{
						font-size: 18px;
					}
					.name{
						h1{
							font-size: 52px;
						}
					}
				}
			}
		}
	}
}