
// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.container-lcd{
			    height: 60%;
			}
			section.lcd{
				height: 40%;
				.counting-list{
					flex-direction: row;
					align-items: flex-end;
					.content{
						padding: 0 5px;
						.form-group-custom{
							label{
								font-size: 12px;
							}
							.form-control-custom{
								font-size: 14px;
							}
						}
					}
				}
				h1.head{
					font-size: 18px;
				}
				.list-data{
					height: calc(100% - 85px);
					.item{
						.content-image{
							img{
								width: 50px;
							}
						}
						.content-list{
							h1.title{
								font-size: 14px;
							}
							h2.alias{
								font-size: 13px;
							}
							p{
								font-size: 13px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								max-height: 40px;      /* fallback */
								-webkit-line-clamp: 2; /* number of lines to show */
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}
			section.slide-guest{
				height: calc(100% - 121px);
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			section.container-lcd{
			    height: 60%;
			}
			section.lcd{
				height: 40%;
				.counting-list{
					flex-direction: row;
					.content{
						padding: 0 5px;
						.form-group-custom{
							label{
								font-size: 12px;
							}
							.form-control-custom{
								font-size: 14px;
							}
						}
					}
				}
				h1.head{
					font-size: 18px;
				}
				.list-data{
					height: calc(100% - 85px);
					.item{
						.content-image{
							img{
								width: 50px;
							}
						}
						.content-list{
							h1.title{
								font-size: 18px;
							}
							h2.alias{
								font-size: 15px;
							}
							p{
								font-size: 13px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								max-height: 60px;      /* fallback */
								-webkit-line-clamp: 3; /* number of lines to show */
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}
			section.slide-guest{
				height: calc(100% - 121px);
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
			display: none;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			section.container-lcd{
			    height: 67%;
			}
			section.lcd{
				height: 33%;
				.counting-list{
					.content{
						.form-group-custom{
							label{
								font-size: 13px;
							}
							.form-control-custom{
								font-size: 16px;
							}
						}
					}
				}
				.list-data{
					.item{
						.content-list{
							h1.title{
								font-size: 22px;
							}
							h2.alias{
								font-size: 16px;
							}
							p{
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-height: 768px) {
	body{
		main{
			section.container-lcd{
			    height: 65%;
			}
			section.lcd{
				height: 35%;
				.counting-list{
					.content{
						.form-group-custom{
							label{
								font-size: 13px;
							}
							.form-control-custom{
								font-size: 16px;
							}
						}
					}
				}
				.list-data{
					.item{
						.content-list{
							h1.title{
								font-size: 17px;
							}
							h2.alias{
								font-size: 14px;
							}
							p{
								font-size: 13px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								max-height: 90px;      /* fallback */
								-webkit-line-clamp: 5; /* number of lines to show */
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}
		}
	}
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			section.container-lcd{
			    height: 65%;
			}
			section.lcd{
				height: 35%;
				.list-data{
					.item{
						.content-list{
							h1.title{
								font-size: 17px;
							}
							h2.alias{
								font-size: 14px;
							}
							p{
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{			
		}
	}
}