
// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.scan{
				h1{
					font-size: 16px;
					span{
						font-size: 20px;
					}
				}
				.box-container{
					.box{
						width: 250px;
						height: 250px;
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			section.scan{
				.box-container{
					.box{
						width: 300px;
						height: 300px;
					}
				}
			}	
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
			section.scan{
				.box-container{
					.box{
						width: 200px;
						height: 200px;
					}
				}
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			section.scan{
				.box-container{
					.box{
						width: 400px;
						height: 400px;
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			section.scan{
				.box-container{
					.box{
						width: 350px;
						height: 350px;
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{
			section.scan{
				.box-container{
					.box{
						width: 400px;
						height: 400px;
					}
				}
			}
		}
	}
}