
// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.info{
				h1{
					font-size: 16px;
				}
				h2{
					font-size: 12px;
				}
				h3{
					font-size: 13px;
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
			section.swipe-container{
				width: 540px;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			section.swipe-container{
				width: 720px;
			}
			section.info{
				h1{
					font-size: 42px;
				}
				h2{
					font-size: 18px;
				}
				h3{
					font-size: 24px;
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			section.swipe-container{
				width: 960px;
			}
			section.info{
				h1{
					font-size: 42px;
				}
				h2{
					font-size: 18px;
				}
				h3{
					font-size: 24px;
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{
			section.swipe-container{
				width: 1140px;
			}
			section.info{
				h1{
					font-size: 42px;
				}
				h2{
					font-size: 18px;
				}
				h3{
					font-size: 24px;
				}
			}
		}
	}
}