@import "color.scss";

section.fixed-content-rsvp{
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.accordion-container{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    .accordion{
        background: rgba($color1,.95);
        .card{
            background: rgba($color1,.95);
            border-radius: 15px 15px 0 0;
            border: 2px solid $color2;
            border-bottom: none;
            .card-header{
                border: none;
                background: transparent;
                padding: 8px 40px 8px 45px;
                position: relative;
                font-family: 'Patua One', cursive;
                color: $color3;
                i{
                    color: $color3;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform:translateY(-50%);
                }
                &:before{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform:translateY(-50%);
                    content: '\f146';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: bold;
                    color: $color3;
                }
                &.collapsed{
                    &:before{
                        content: '\f0fe';
                    }
                }
            }
            .collapse{
                height: 250px;
                overflow-y: auto;
            }
            .collapsing{
                max-height: 250px;
            }
            .card-body{
                h1.title{
                    font-size: 20px;
                    color: $color3;
                    font-family: 'Patua One', cursive;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                .custom-select{
                    outline: none;
                    box-shadow: none;
                    border: none;
                    background: rgba($color3,.8);
                    color: $white;
                }
            }
        }
    }
}

section.rsvp{
    h1{
        font-size: 24px;
        text-align: center;
        color: $color3;
        margin: 0;
        font-family: 'Patua One', cursive;
    }
    h2{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
        margin-bottom: 5px;
    }
    h3{
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
        font-family: 'Patua One', cursive;
    }
    h4{
        margin-top: 5px;
        font-size: 16px;
        text-align: center;
        font-family: 'Patua One', cursive;
    }
    .mid-info{
        padding: 15px 0 0;
        p{
            margin:0;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
        .and{
            text-align: center;
            font-size: 32px;
            font-family: 'Lily Script One', cursive;
            color: $color3;
            line-height: 27px;
            font-weight: bold;
        }
        .name{
            padding: 10px 0;
            h1{
                font-family: 'Lily Script One', cursive;
                font-size: 32px;
                margin-bottom: 0px;
            }
            h3{
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    .mid-info-2{
        h2{
            font-size: 18px;
            text-align: center;
            color: $color3;
        }
        p{
            font-size: 14px;
            font-weight: bold;
            margin:0;
            text-align: center;
        }
    }
}

section.confirm{
    padding: 19px 0;
    .attandance-fill{
        padding: 15px 0;
        .form-group{
            label{
                font-weight: bold;
            }
            .form-control{
                background: rgba($color3,.8);
                border: none;
                outline: none;
                box-shadow: none;
                color: $white;
            }
            .input-group{
                .form-control-custom-group{
                    text-align: center;
                    background: rgba($color3,.8);
                    color: $white;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    border-radius: 5px;
                }
                .btn-custom{
                    padding: 6px 15px;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .btn-container{
            text-align: center;
            .btn-submit{
                outline: none;
                box-shadow: none;
                margin: 10px 0;
                color: $white;
                border-radius: 0;
                padding: 5px 15px;
                background: $color3;
                border-radius: 15px;
            }
        }
    }
}